EMAIL="bot@mail.ru" # почта, с которой будут отправляться уведомления об ошибках
PASSWORD="ApplicationPassword" # пароль приложения, для автоматической отправки почты

DATABASE_USER="root"
DATABASE_LOG_SETTINGS="off" # off or print or write
DATABASE_PASSWORD="password" 
TEST_DATABASE="test_equipment_manager"
HOST="127.0.0.1" # адрес бд

DEVELOPER_EMAIL="developer.@mail.ru" # почта разработчика, на которую будут отправляться уведовления об ошибках
TELEGRAM_API_TOKEN='yourTelegramBotToken' # токен телеграм бота
DEVELOPER_USER_ID="telegram_user_id" # id чата, в который будет отправляться уведомление об ошибках в работе бд

JWT_KEY="longsecretkey" # секретный ключ для jwt токена