{% extends "base.html" %}
{% block content %}
    <div id="registr_form">
        <h1>Регистрация на сервисе EquipmentManager</h1>
        <a href="/authorization">Назад</a>

        <p>
            Придумайте логин: <br /> 
            <input name="login" id="login" />
        </p>
        <p>
            Придумайте пароль: <br /> 
            <input name="password" id="password"/>
        </p>
        <p>
            Введите вашу почту:<br>
            <input name="email" id="email"/>
        </p>
        <button onclick="send_new_user()">Отправить</button>
    </div>


    <div  id="code_form" style="display:none;">
        <h1>Регистрация на сервисе EquipmentManager</h1>
        
        <p>
            Введите код отправленный на указанную Вами почту:<br>
            <input name="code" id="code" placeholder="00000", oninput="this.value = this.value.slice(0, 5)"/>
        </p>
        <button onclick="send_verification_code()">Отправить код</button>
    </div>

    <script src="/static/js/send_new_user.js"></script>

{% endblock %}