{% extends "base.html" %}
{% block content %}
	<h1>Регистрация на сервисе EquipmentManager</h1>
	<a href="/authorization">Назад</a>

    <p>
        Придумайте логин: <br /> 
        <input name="login" id="login" />
    </p>
     <p>
        Придумайте пароль: <br /> 
        <input name="password" id="password"/>
    </p>
    <p>
        Введите вашу почту:<br>
        <input name="email" id="email"/>
    </p>
    <button onclick="send_new_user()">Отправить</button>


    <script src="/static/js/send_new_user.js"></script>

{% endblock %}